<section class="container">
  <h3 class="blog-name">sdcd</h3>
  <h4>Opening Hour: </h4>
  {{!-- {{format_time blog.starting_date}} --}}
  {{!-- {{format_time blog.ending_date}} --}}
  <h4>Closing Hour: </h4>
  <section class="flex-row justify-center">
    {{!-- {{#each blog.paintings as |painting|}}
    {{> painting-details}}
    {{/each}} --}}
  </section>
</section>