<div class="container justify-space-between-md w-100  display-flex">

<div class="login-card" >
    <h2 class="page-title">Edit Blog</h2>
    <form class="form editblog-form">
      <div class="form-group">
        <label for="editblog-title">Title:</label>
        <input class="form-input" type="text" id="editblog-title" />
      </div>
      <div class="form-group">
        <label for="editblog-content">Content:</label>
        <input class="form-input" type="text" id="editblog-content"  />
      </div>
      
      <div class="form-group">
        <button class="btn btn-primary"  id="update-blog" type="submit">Update Post</button>
         <button class="btn btn-primary"  id="delete-blog" type="submit">Delete</button>
      </div>
    </form>
    
  </div>

  </div>
 <script src="/js/edit-blog.js"></script>