:root {
  --primary: #980d4c;
  --secondary: #3d0b2a;
  --quatrinary: #010101;
  --light: #e3e4e3;
  --dark: #980d4c;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  color: white;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* background: var(--primary); */
  color: var(--light);
}
.header {
  justify-content: space-between;
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  justify-content: right;
  padding-right: 10px;
  color: white;
}

nav a {
  justify-content: right;
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: right;
}

nav a:hover {
  opacity: 0.7;
}

.blog {
  flex: 4;
  padding: 50px;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* CARDS */
.card {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--secondary);
}

.login-card {
  margin: 0 1rem;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(61, 11, 42, 0.8);
  color: var(--light);
}

.card header {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: left;
  font-weight: bold;
}

/* LAYOUT */
/* .container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
} */
